<template>
    <div class="card">
        <div class="card-header">{{ conversationUser.name }}</div>

        <div class="card-body">
            <Message :message="message" v-for="message in conversationMessages" :key="message.id"/>

            <br>

            <form>
                <div class="form-group" id="textarea">
                    <textarea name="content" class="form-control" v required></textarea>
                </div>

                <a v-on:click="submit" class="btn btn-light btn-lg">Send</a>
            </form>
        </div>
    </div>
</template>

<script>
    import MessageComponent from './MessageComponent'

    export default {
        name: "ConversationMessageComponent",
        components: {Message: MessageComponent},
        data() {
            return {
                content: ''
            }
        },
        computed: {
            conversationUser: function () {
                return this.$store.getters.conversationUser(this.$route.params.slug)
            },

            conversationMessages: function () {
                return this.$store.getters.conversationMessages(this.$route.params.slug)
            }
        },
        mounted() {
            this.loadMessages()
        },
        watch: {
            '$route.params.slug': function () {
                this.loadMessages()
            }
        },
        methods: {
            loadMessages() {
                this.$store.dispatch('loadMessages', this.$route.params.slug)
            },

            submit() {
                this.$store.dispatch('sendMessage', {userSlug: this.$route.params.slug, content: this.content})
            }
        }
    }
</script>

<style scoped>

</style>