<template>
    <div class="card">
        <div class="card-header">Users</div>
        <div class="card-body">
            <div class="list-group">
                <template v-for="conversationUser in conversationUsers">
                    <router-link :to="{name: 'show-conversation', params: {slug: conversationUser.slug}}"
                                 class="list-group-item d-flex justify-content-between align-items-center">
                        {{ conversationUser.name }}

                        <span v-if="conversationUser.unreadCounter > 0" class="badge badge-pill badge-success">
                        {{ conversationUser.unreadCounter }}
                        </span>
                    </router-link>
                </template>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "ConversationUsersComponent",
        computed: {
            ...mapGetters(['conversationUsers'])
        },
        mounted() {
            this.$store.dispatch('loadConversationUsers')
        }
    }
</script>

<style scoped>

</style>