<template>
    <div>
        <div class="row">
            <div :class="htmlClass">
                <p>
                    <strong>{{ message.content }}</strong>
                    <span
                            style="font-size: 13px">{{ message.created_at }}</span>
                </p>
            </div>
        </div>

        <hr>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "MessageComponent",
        props: {
            message: Object
        },
        computed: {
            ...mapGetters(['currentUser']),
            htmlClass() {
                let htmlClass = ['col-sm-10'];

                if (this.message.from_id === this.currentUser.id){
                    htmlClass.push("offset-sm-2 text-right")
                }

                return htmlClass
            }
        },
    }
</script>

<style scoped>

</style>